<div class="panel panel-default numbers-input">
  <div class="panel-heading">Calculate your digifriends!</div>
  <div class="panel-body">
    <form (ngSubmit)="onCalculate()" class="form-horizontal" #numbersForm="ngForm">
      <div class="form-group"
        [class.has-feedback]="digifriendFound !== null"
        [class.has-error]="digifriendFound === false"
        [class.has-success]="digifriendFound">
        <label for="inputY" class="col-sm-3 control-label">Y</label>
        <div class="col-sm-6">
          <input
            [(ngModel)]="model.inputY"
            name="inputY"
            #inputY="ngModel"
            pattern="\d+"
            type="number"
            class="form-control"
            id="inputY"
            placeholder="Y">
          <span
            *ngIf="digifriendFound"
            class="glyphicon glyphicon-ok form-control-feedback"
            aria-hidden="true"></span>
          <span
            *ngIf="digifriendFound === false"
            class="glyphicon glyphicon-remove form-control-feedback"
            aria-hidden="true"></span>
        </div>
        <div class="col-sm-3">
          <div [hidden]="inputY.valid || inputY.pristine"
              class="alert alert-danger">
            Y must be integer
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputZ" class="col-sm-3 control-label">X or Z</label>
        <div class="col-sm-6">
          <input
            [(ngModel)]="model.inputZ"
            name="inputZ"
            #inputZ="ngModel"
            pattern="\d+"
            required
            type="number"
            class="form-control"
            id="inputZ"
            placeholder="X or Z">
        </div>
        <div class="col-sm-3">
          <div *ngIf="inputZ.errors && (inputZ.dirty || inputZ.touched)"
              class="alert alert-danger">
            <span [hidden]="!inputZ.errors.pattern">X or Z must be integer</span>
            <span [hidden]="!inputZ.errors.required">Enter your number</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <button type="button"
            (click)="onCheck()"
            [disabled]="!numbersForm.form.valid || !model.inputY"
            class="btn btn-block btn-info">
            <i class="fa fa-check"></i> Check if Y is a digifriend of Z
          </button>
          <button type="submit"
            [disabled]="!numbersForm.form.valid"
            class="btn btn-block btn-primary">
            <i class="fa fa-bolt"></i> Calculate digifriends for X
          </button>
        </div>
      </div>
    </form>
  </div>
</div>