<div class="alert"
  [hidden]="digifriendFound === null"
  [class.alert-success]="digifriendFound"
  [class.alert-danger]="!digifriendFound"
  role="alert">
  <span [hidden]="digifriendFound === false">
    Yes this Y is really a Digifriend of Z!
  </span>
  <span [hidden]="digifriendFound">
    Sorry this Y is not a Digifriend of Z!
  </span>
</div>
<div class="panel panel-default" *ngIf="digifriends">
  <div class="panel-body">
    <span *ngFor="let friend of digifriends">
      <span class="label label-info">{{friend}}</span>&nbsp;
    </span>
  </div>
</div>