<div class="panel panel-default">
  <div class="panel-heading">History</div>
  <ul class="list-group">
    <button
      *ngFor="let num of history"
      (click)="onRecord(num)"
      type="button"
      [class.active]="num.x === selectedNumber"
      class="list-group-item">
      {{num.x}}
      <span class="badge">{{num.digifriends?.length}}</span>
    </button>
  </ul>
</div>