<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
        (click)="isCollapsed = !isCollapsed"
        class="navbar-toggle collapsed">
        <span class="sr-only">Toggle menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Digifriends</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [class.in]="!isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li [class.active]="needHelp">
          <a href="#" (click)="needHelp = !needHelp">
            <i class="fa fa-question"></i>
            <span class="visible-xs-inline">Help</span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div class="numbers-page">
    <div class="row" [hidden]="loaded">
      <div class="col-md-12">
        <h1><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...</h1>
      </div>
    </div>
    <div class="row" *ngIf="needHelp">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>To look previously calculated digifriends of some number in the history panel on the right side: just click on this number in history panel.</p>
            <p>To insert new number and look for its digifriends: enter your number in the field labeled 'X or Z' and press 'Calculate digifriends for X' button.</p>
            <p>To find out if some number (Y) is a digifriend of some other number (Z): enter the first number in the field labeled 'Y' and the second number in the filed labeled 'X or Z' and then press 'Check if Y is a digifriend of Z' button.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="!loaded">
      <div class="col-md-10">
        <!-- main pane -->
        <app-numbers-input
          [digifriendFound]="digifriendFound"
          [selectedX]="selectedX"
          (checkClick)="onCheckClick($event)"
          (calculateClick)="onCalculateClick($event)">
        </app-numbers-input>
        <app-numbers-result
          [digifriendFound]="digifriendFound"
          [digifriends]="currentDigifriends">
        </app-numbers-result>
      </div>
      <div class="col-md-2">
        <!-- history pane -->
        <app-history
          (recordClick)="onHistorySelect($event)"
          [history]="history"
          ></app-history>
      </div>
    </div>
  </div>
</div>